/* Base */
body {
    background-color: #1a1a2e;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}



/* Header card */
.person-header {
    display: flex;
    gap: 20px;
    background-color: #2e2e50;
    padding: 20px;
    border-radius: 10px;
}

.person-header img {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.person-info {
    flex: 1;
    min-width: 0;
}

.person-info h1 {
    margin-bottom: 10px;
    color: #b084f5;
    font-weight: 600;
}

.person-info p {
    margin-bottom: 10px;
    line-height: 1.6;
    opacity: 0.95;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #b084f5;
}

.anime-list {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding: 10px 0;
}

/* Anime card */
.anime-item {
    width: 200px;
    height: 300px;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.anime-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

/* Anime text */
.anime-item p {
    color: white;
    margin-top: 5px;
    margin-bottom: 0;

    transition: color 0.3s ease;
}

/* Hover effects */
a {
    color: #4dabf7;
    text-decoration: none;
}

a:hover .anime-item p {
    color: #b084f5;
}

/* Responsive */
@media (max-width: 768px) {
    .person-header {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .person-header img {
        width: 260px;
        height: 260px;
    }

    .person-info {
        width: 100%;
    }
}


.voice-list {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding: 10px 0;
}

/* Anime card */
.voice-item {
    width: 200px;
    height: 420px;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.voice-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

/* Anime text */
.voice-item p {
    color: white;
    margin-top: 5px;
    margin-bottom: 0;

    transition: color 0.3s ease;
}